.campo-projeto{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.div-projeto{
    margin-top: 15px;
    margin-bottom: 20px;
}
.campo-projeto .seu-projeto{
    display: flex;
    flex-direction: column;
}
.campo-projeto .campo-selecao{
    color: black;
}
.cor-de-fundo{
    background-color: rgba(0, 255, 255, 0);
    height: 55px;
    border-radius: 8px;
}
.input-descricao-projeto{
    padding-top: 20px;
    min-height: 150px;
}
.button-submit{
    background-color: #5081FB;
}
@media screen and (max-width:1366px) {
    .flex-container{
        flex-direction: column;
    }
    .campo-projeto{
        flex-direction: row;
        width: 100%;
    }
    .campo-projeto .form-projeto{
        width: 100%;
    }
    .div-projeto{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
    }
    .input-descricao-projeto{
        margin-left: 10px;
        min-height: 55px;
    }
    .button-submit{
        min-width: 100%;
    }
}