.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding: 0 35px;
    /*border: 2px solid white;*/
}
@media screen and (max-width:550px){
    .flex-container{
        padding: 10px;
    }
}