.body{
    color: white;
    font-family: 'Lato', sans-serif;
    background-color:  #051D3B;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
    box-sizing: border-box;
    /*border: 2px solid white;*/
}
.logo-alura-dev{
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}
.logo-alura-dev a {
    text-decoration: none;
    color: white;
}
.logo-alura-dev:hover{
    cursor: pointer;
}
.logo-alura-dev .span-dev{
    background-color: white;
    vertical-align: top;
    color: black;
    margin-left: 5px;
    padding: 3px;
    border-radius: 5px;
}
/*PROBLEMA-  deveria funcionar assim: .header .perfil-preview{} */
.perfil-preview {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}
.perfil-img{
    width: 25%;
    margin-right: 5px;
}
.buscador-header{
    width: 55%;
}
.div-alternativos-itens{
    display: none;
}
.fa-search{
    font-size: 1.5em;
}

.fa-bars{
    font-size: 1.5em;
    margin-left: 25px;
}

.display-flex{
    display: flex;
}
@media screen and (max-width:1366px){
    .div-alternativos-itens{
        display: flex;
        align-items: center;
    }
    .perfil-preview,.div-alternativos-itens .fa-search{
        display: none;
    }
    
}
@media screen and (max-width:600px){
    .div-alternativos-itens, .div-alternativos-itens .fa-search{
        display: flex;
        align-items: center;
    }
    .perfil-preview, .buscador-header{
        display: none;
    }
    
}