.campo-editor{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    max-width: 945px;
    height: 402px;
    border-radius: 8px;
    padding: 25px;
}
.campo-editor .cor-selecionada{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6BD1FF;
    border-radius: 8px;
    width: 100%;
    height: 442px;
}
.div-black{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 90%;
    height: 90%;
    border-radius: 8px;
}
.div-black .estetica{
    display: flex;
    margin: 5px 0 0 15px;
    padding: 5px;
}
.div-black .estetica .span{
    padding: 5px;
    margin: 3px;
    width: 3px;
    height: 3px;
    border-radius: 15px;
}

.bolinha-vermelha{
    background-color: #FF5F56;
}
.bolinha-amarela{
    background-color: #FFBD2E;
}
.bolinha-verde{
    background-color: #27C93F;
}
.campo-editor .editor-textarea{
   color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    height: 90%;
}
@media screen and (max-width:960px) {
    .campo-editor{
        width: 100%;
        margin-bottom: 50px;
    }
}