@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.nav{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color: #051D3B;
    min-width: 250px;
    transition: right 0.5s ease-out;
    user-select: none;
}

.nav .itens {
    display: flex;
    align-items: center;
    opacity: 0.6;
    list-style: none;
    margin-bottom: 15px;
    transition: 1s opacity;
}
.nav .itens a{
    margin-left: 5px;
    text-decoration:none;
    font-size: 0.9em;
    color:rgba(255, 255, 255, 0.753);
}
.nav .itens .nav-icon{
    font-size: 1em;
    color:rgba(255, 255, 255);
}
.nav .itens:hover{
    opacity: 1;
    cursor: pointer;
}

.nav .code{
    flex-wrap: nowrap;
    width:48px;
    height: 48px;
    background-color:#5081FB;
    border-radius: 18px;
    margin-right: 15px;
}

.nav .group{
    flex-wrap: nowrap;
    width:48px;
    height: 48px;
    background-color:#5080fb5d;
    border-radius: 18px;
    margin-right: 15px;
}
/*PROBLEMA - TRANSIÇÃO NÃO FUNCIONA*/
@media screen and (max-width:1366px){
    .nav{
        background-color: #2D415B;
        display: none;
        right: -90%;
    }
    .mostrar-nav { 
        display: initial;
        position: fixed;
        z-index: 1;
        right: 0;
        height: 100%;
        max-width: 195px !important;
        border-radius: 8px;
    }
}