/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000a4;
}

/* Handle */
::-webkit-scrollbar-thumb {
     background: #f1f1f13f;
     border-radius: 8px;
  ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.font-padrao-titulos{
    font-size: 0.85em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.padrao-largura{
    width: 20%;
    box-sizing: border-box;
    padding: 15px;
}
.input-desktop{
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 100%;
    max-width: 292px;
}

.input-look{
    background-color:rgba(255, 255, 255, 0.16);
    height: 56px;
    border: none;
    border-radius: 8px;
    padding: 0 10px 0 10px;
    color: white;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.input-look:hover{
    transition: 0.5s background-color;
    background-color: rgba(255, 255, 255, 0.26);
}
.pointer{
    cursor: pointer;
}
.hljs{
    color: white;
    background-color: transparent;
}

option{
    color: black;
}

.linha-divisao{
    border: none;
    border-top: 1px solid hsla(0, 0%, 100%, 0.082);
}

.ativaDisplay-none{
    display: none !important;
}

.comunidade-aparece{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}
.body{
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    color: white;
    background-color:  #051D3B;
    
}
@media screen and (max-width:1366px){
    .input-desktop{
        max-width: none;
    }
}