.font-padrao-titulos{
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-look{
    background-color:rgba(255, 255, 255, 0.16);
    height: 56px;
    border: none;
    border-radius: 8px;
    padding: 0 10px 0 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.mesma-largura{
    width: 20%;
    box-sizing: border-box;
    padding: 15px;
}
.input-desktop{
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100%;
    max-width: 292px;
}

@media screen and (max-width:1366px){
    .input-desktop{
        max-width: none;
    }
}